@import './styles/Header.css';

@import './styles/iconfont/iconfont.css';



body {
	margin: 0;
	font-family: -apple-system, 'Figtree', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	overflow-x: hidden;
}


ul[class],
ol[class] {
	list-style: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Указываем box sizing */
*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

:root {
	--primary-color: #005DFF;
	--secondary-color: #F2F4F8;

	--primary-color-light: #0086FF;
	--primary-color-pressed: #0086FF;
	
	--bg-color: #F8F9FA;
	--text-color: #2E3A4B;

	--fieldhover-color: #69727D;
	/* #2E3A4B / 70% */
	--field-color: #90969E;
	/* #2E3A4B / 50% */
	--fielddisabled-color: #B8BBC0;
	/* #2E3A4B / 30% */

	--error-color: #E82F2F;
	--success-color: #1FB155;
	--warn-color: #F5B700;
}

html {
	box-sizing: border-box;
	color: var(--text-color);
	background: var(--bg-color);
}


/*CONTAINER*/

body {
	margin-top: 70px;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	/*margin: 0 auto 0 auto;*/
	max-width: 1200px;
}

@media (min-width: 991.5px) and (min-height: 800px) {
	.container {
		margin: 0 auto;
	}
}

.header__container {
	margin: 0 auto;
	display: flex;
	align-items: center;
	max-width: 1520px;
	width: 100%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	height: 70px;
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(43, 58, 77, 0.0509804);
	backdrop-filter: blur(15px);
}


/*@media (min-width: 1650.5px) {

	.container,
	.header__container {
		max-width: 1584px;
		padding: 0 32px;
		width: 100%;
	}
}*/

@media (max-width: 1730.5px) {
	.header__container {
		max-width: 1504px;
		padding: 0 32px;
	}

	.container {
		max-width: 1264px;
		padding: 0 32px;
		margin: 0 auto;
	}
}

@media (max-width: 1440px) {
	.container {
		max-width: 1200px;
	}

	.header__container {
		max-width: 1200px;
	}
}

@media (max-width: 991px) {
	.header {
		height: 72px;
	}

	.header__container {
		justify-content: space-between;
	}

	body {
		margin-top: 72px;
	}
}

@media (max-width: 575.5px) {
	.header {
		height: 56px;
	}

	.container,
	.header__container {
		padding: 0 15px;
	}

	body {
		margin-top: 56px;
	}
}

/*COMMON*/

/*@media (min-width: 991.5px) and (min-height: 800px) {
	section {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}*/

.main__header {
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
}

/*h1 {
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
}*/

.mid__header {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

/*h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}*/

.small__header {
	font-size: 18px;
	font-weight: 600;
}

/*h3 {
	font-size: 18px;
	font-weight: 600;
}*/

.bigCard__header {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
}

/*h4 {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
}*/

.slide__title_mob {
	margin: 0;
	text-align: left;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
}

/*h5 {
	margin: 0;
	text-align: left;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
}*/

.title {
	text-align: center;
	margin: 0px 0px 24px 0px;
}

.subheader {
	font-size: 48px;
	font-weight: 700;
}

.training__title {
	font-size: 88px;
	font-weight: 700;
	line-height: 113%;
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}


.text__body,
.text__body-light {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.text__body-light {
	color: var(--fieldhover-color);
	line-height: 18px;
}

.text__body-bold {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}



.text__body-second {
	font-size: 16px;
	line-height: 28px;
}

.caption {
	color: rgba(46, 58, 75, 0.7);
	font-weight: 700;
	font-size: 16px;
}

.caption-light {
	color: var(--fieldhover-color);
	font-weight: 400;
	font-size: 12px;
}

.link {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: var(--text-color);
	transition: color 0.2s ease-in-out;
	cursor: pointer;
}

.link:hover {
	color: var(--primary-color);
}

.text__link {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 600;
	transition: opacity 0.2s ease-in-out;
	cursor: pointer;
}

.text__link:hover {
	opacity: 0.8;
}

@media (min-width: 991.5px) {
	.active__link {
		transition: all 0.2s ease-in-out;
	}

	.active__link::after {
		position: absolute;
		content: '';
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 24px;
		height: 3px;
		border-radius: 2px;
		background-color: var(--primary-color);
	}
}

.btn__flex {
	width: 100% !important;
	justify-content: center;
}

.icon {
	display: flex;
	align-items: center;
	object-fit: contain;
	width: 14px;
	height: 14px;
	margin: 0px 0px 0px 10px;
}

.icon>img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

@media (max-width: 1440.5px) {
	.bigCard__header {
		font-size: 30px;
		line-height: 35px;
	}
	.training__title {
		font-size: 60px;
	}
}

@media (max-width: 1200.5px) {
	.main__header {
		font-size: 45px;
		line-height: 50px;
	}
	/*h1 {
		font-size: 45px;
		line-height: 50px;
	}*/

	.training__title {
		font-size: 50px;
	}

}

@media (max-width: 991.5px) {
	.main__header {
		font-size: 36px;
		line-height: 40px;
	}
	/*h1 {
		font-size: 36px;
		line-height: 40px;
	}*/

	.training__title {
		font-size: 40px;
	}

	.text__body,
	.text__body-light {
		font-size: 16px;
	}

	.text__body-second {
		font-size: 16px;
		line-height: 20px;
	}
}

@media (max-width: 767.5px) {
	.subheader {
		font-size: 24px;
	}
}

@media (max-width: 575.5px) {
	.main__header {
		font-size: 24px;
		line-height: 28px;
	}
	/*h1 {
		font-size: 24px;
		line-height: 28px;
	}*/

	.training__title {
		font-size: 36px;
	}

	.title {
		margin: 0px 0px 16px 0px;
	}

	.text__body-second {
		font-size: 16px;
		line-height: 28px;
	}
}

@media (min-width: 575.5px) {

	.mid__header,
	.slide__title_mob {
		font-size: 36px;
		line-height: 47px;
	}

}

@media (min-width: 991.5px) {
	.main__header {
		font-size: 45px;
	}
	/*h1 {
		font-size: 45px;
	}*/

	.mid__header {
		text-align: left;
	}

}

@media (min-width: 1200.5px) {

	.main__header { 
		font-size: 50px;
	}
/*
	h1 {
		font-size: 50px;
	}*/

}

@media (min-width: 1440.5px) {
	.text__body {
		font-size: 16px;
	}
}


/*burger*/

.burger-icon {
	display: inline-block;
	cursor: pointer;
	width: 16px;
	height: 12px;
	position: relative;
	z-index: 150;
}

.burger-icon .bar {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: var(--text-color);
	border-radius: 2px;
	transition: transform 0.2s ease-out;
}

.burger-icon .bar1 {
	top: 0;
}

.burger-icon .bar2 {
	top: 50%;
	transform: translateY(-50%);
}

.burger-icon .bar3 {
	bottom: 0;
}

.burger-icon.open .bar1 {
	transform: rotate(45deg) translate(1px, 6px);
}

.burger-icon.open .bar2 {
	opacity: 0;
}

.burger-icon.open .bar3 {
	transform: rotate(-45deg) translate(1px, -6px);
}

@media (min-width: 991.5px){
	.burger-icon {
		display: none;
	}
}

/*burger*/



.video__modal {
	max-width: 100% !important;
}

.video-responsive {
	width: 98vw;
	height: 48vw;
}

@media (min-width: 767.5px) {
	.video__modal {
		max-width: 90% !important;
	}

	.video-responsive {
		width: 80vw;
		height: 39vw;
	}
}

.video-responsive>iframe {
	width: 100%;
	height: 100%;
}


/*RANGE SLIDER*/

.rc-slider-handle {
	width: 16px !important;
	height: 16px !important;
	margin-top: -6px !important;
	margin-left: -8px !important;
	border-radius: 50%;
	border: 2px solid var(--primary-color) !important;
	background-color: var(--primary-color) !important;
}

.rc-slider-track {
	background-color: var(--primary-color) !important;
}

.rc-slider-rail {
	background-color: var(--fielddisabled-color) !important;
}

.rc-slider-dot:nth-child(n) {
	border: none !important;
	border-radius: 0 !important;
	width: 6px !important;
	margin-left: -3px !important;
}

.rc-slider-dot:first-child {
	background-color: var(--primary-color) !important;
	height: 4px !important;
	top: 0 !important;
}

.custom-tooltipe {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 4px;
	padding: 2px 4px;
	background-color: var(--text-color);
	color: rgba(255, 255, 255, 0.7);
	/*visibility: hidden;*/
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.rc-slider-handle:hover .custom-tooltipe,
.rc-slider-handle:focus .custom-tooltipe,
.rc-slider-handle:active .custom-tooltipe {
	/*visibility: visible;*/
	transition: opacity 0.2s ease-in-out;
	opacity: 1;
}

.rc-slider-mark {
	font-size: 16px !important;
}




.price__slider .swiper-slide {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
}

/*.price__slider .price__slide {
	display: flex;
	justify-content:center;
	align-items: center;
}*/

@media (max-width: 767.5px) {
	.price__slider {
		margin: 20px 0px 0px 0px;
	}
}

/*swiper*/

.swiper-pagination-bullet {
	height: 4px !important;
	width: 10px !important;
	border-radius: 14px !important;
	transition: opacity 0.2s ease-in-out;
}

.swiper-pagination-bullet:hover {
	opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
	width: 16px !important;
	background: var(--text-color) !important;
}

@media (max-width: 991.5px) {
	.swiper {
		padding-bottom: 40px !important;
	}

	.swiper-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 19px !important;
	}
}

@media (min-width: 991.5px) {
	.swiper-pagination-bullet {
		width: 22px !important;
		background-color: #fff !important;
	}

	.swiper-pagination-bullet-active {
		/*width: 40px !important;*/
		background: #fff !important;
	}

	.swiper-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 40px !important;
	}

	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		bottom: 26px !important;
		top: auto !important;
		width: 40px !important;
		height: 40px !important;
		color: #fff !important;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		object-fit: contain !important;
		z-index: 100 !important;
		transition: opacity 0.2s ease-in-out;
	}

	.swiper-button-next::after,
	.swiper-button-prev::after {
		display: none;
	}

	/*.swiper-button-next {
		right: calc(50% - 150px) !important;
		background: url(../assets/icons/arrow_c_r.svg) center center/contain no-repeat !important;
	}

	.swiper-button-prev {
		left: calc(50% - 150px) !important;
		background: url(../assets/icons/arrow_c_l.svg) center center/contain no-repeat !important;
	}*/

}

/*scroll*/

body::-webkit-scrollbar {
	width: 8px;
	cursor: pointer !important;
}

body::-webkit-scrollbar-track {
	background: transparent;
	cursor: pointer !important;
}

body::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: var(--fielddisabled-color);
	cursor: pointer !important;
}

body::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
}


/*MEDIA*/

@media (max-width: 1919.5px) {}

@media (min-width: 1919.5px) {}

@media (max-width: 1649.5px) {}

@media (max-width: 1440.5px) {}


@media (max-width: 1050px) {}